            body {
                background-color: black;
                color: blanchedalmond;
            }
            
            figcaption {
                background-color: black;
                color: white;
                font-style: italic;
                <<<<<<< HEAD=======text-align: center;
                display: table-caption;
                caption-side: bottom;
                >>>>>>>6fea946cb27a7998711a4e9bdd98b0e349ad5b34
            }
            
            .category {
                font-size: 20px;
                color: blanchedalmond;
            }
            
            #images {
                width: 200px;
                height: 200px;
            }
            
            .imgt {
                float: left;
                width: 200px;
                height: 200px;
                max-width: auto;
                max-height: auto;
                margin: auto;
                border-radius: 30%;
            }
            
            h1 {
                color: rgb(41, 70, 17);
                font-style: oblique;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                font-size: 50px;
            }
            
            h2 {
                text-align: center;
                <<<<<<< HEAD
            }
            
            h3 {
                color: rgb(41, 70, 17);
                =======color: white;
                >>>>>>>6fea946cb27a7998711a4e9bdd98b0e349ad5b34
            }
            
            .intro {
                background-image: url(../images/cardigan.jpg);
                background-size: contain;
            }
            
            .list {
                text-align: justify;
            }
            
            <<<<<<< HEAD .column {
                width: 220px;
                float: left;
            }
            
            =======>>>>>>>6fea946cb27a7998711a4e9bdd98b0e349ad5b34 @media screen and (min-width: 480px) {
                body {
                    background-color: black;
                    color: white;
                }
            }